<h2><%= @list.name %></h2>
<%= link_to 'Back', lists_path %>
<div class="cards">
  <% @list.movies.each do |i| %>
    <div class="card-category movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= i.poster_url %>)">
      <p><strong><%= i.title %></strong></p>
      <p><%= i.rating %> / 10</p>
    </div>
  <% end %>
</div>
